@import "tailwindcss";
@plugin "@tailwindcss/forms";

:root {
    --color-standard: #D3DCE0;
    --color-lapis-50: #F9FAFB;
    --color-lapis-100: #F2F4F7;
    --color-lapis-200: #E9ECF2;
    --color-lapis-800: #53678C;
    --color-lapis-950: #1B294B;
    --color-neutral-100: #FDFEFF;
    --color-neutral-500: #C0CED5;
    --color-dark-primary: #1B294B;
    --color-action-color: #0474CD;
    --color-begonia-700: #BB0312;
    --color-dark-tertiary: #53678C;
    --color-navy-50: #ECF6FE;
    --colors-green-100: #D9FFEE;
    --colors-green-500: #52C593;
}

:root .darkMode {
    --color-standard: #4A5961;
    --color-lapis-100: #000000;
    --color-lapis-200: #4A5961;
    --color-neutral-100: #181919;
    --color-neutral-500: #4A5961;
    --text-black: #FFFFFF;
    --color-dark-primary: #FDFEFF;
    --color-begonia-700: #FA6E79;
    --color-dark-tertiary: rgba(253, 254, 255, 0.7);
    --color-navy-50: rgba(4,116,205,0.1);
}